DB_POSTGRES_USER=user
DB_POSTGRES_PASSWORD=password
DB_POSTGRES_DB_NAME=dbname

TELEGRAM_BOT_TOKEN=TELEGRAM_BOT_TOKEN#required for app working

MAIL_SMTP_USER=email
MAIL_SMTP_PASSWORD=password

JWT_ACCESS_SECRET=1234567890abcdef1234567890abcdef
JWT_REFRESH_SECRET=1234567890abcdef1234567890abcdef